.settings
*~
bin
build
.coverage
develop-eggs
dist
*.egg
*.egg-info
eggs
.installed.cfg
lib
lib64
*.mo
.mr.developer.cfg
nosetests.xml
parts
pip-log.txt
.project
__pycache__
*.py[cod]
.pydevproject
/README.md~
sdist
*.so
.tox
var
